<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite1"  preserve-order="true">
    <test name="testngauto">
        <classes>
            <!--<class name="qzx.auto.HomePage">
                <methods>
                    <include name="getZeroStatus"/>
                    <include name="homePage"/>
                </methods>
            </class>

            <class name = "qzx.auto.CommodityDetails">
                <methods>
                    <include name="queryDetails"/>
                </methods>
            </class>

            <class name = "qzx.auto.ZeroStatus">
                <methods>
                    <include name="getZeroStatus"/>
                </methods>
            </class>-->

            <class name="qzx.auto.CommidityAuto">
                <methods>
                    <include name="test"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>